/* Container and body... */

.container, 
.container-lg, 
.container-md, 
.container-sm, 
.container-xl {
    max-width: 1320px !important;
 }

body {
  height: 100vh;
  width: 100%;
}

a {
  color: #0081AB;	
}

a:hover {
  color: #333333;
  text-decoration: none;
}

.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}

/* Headings */

.sticky-header {
  top: 0;
  position: sticky;
  background-color: #FFFFFF;
  padding-bottom: 30px;
  padding-top: 30px;
  z-index: 10;
  box-shadow: 0px 1px #C0C0C0;
}

h1 {
  font-family: Jost, Roboto, Arial, sans-serif; 
  font-weight: 500;
  font-size: 45px;
  color: #03045E;
}

.h1-title {
  font-family: Jost, Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 45px;
  color: #03045E;
}

@media only screen and (max-width: 500px) {
  .h1-title {
    font-size: 35px;
    font-weight: 600;
  }
}

h2 {
  font-family: Jost, Roboto, Arial, sans-serif !important; ;
  font-weight: 500;
  font-size: 30px;
  color: #03045E;
}

h3 {
  font-family: Jost, Roboto, Arial, sans-serif !important; ; 
  font-weight: 400;
  font-size: 23px;
  color: #608BAA;
}

@media only screen and (max-width: 500px) {
 h3 {
   font-size: 20px;
   font-weight: 700;
 }
}

.h3-subtitle {
  margin-top: -18px;
  font-size: 18.3px;
  font-weight: 400
}

@media only screen and (max-width: 500px) {
 .h3-subtitle {
   margin-top: -10px;
 }
}

.h3-intro {
  font-size: 20px;
  font-weight: 400;
}

h4 {
  font-family: Roboto, Arial, san-serif;
  color: #D6634C;
  font-size: 20px;
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
 h4 {
   font-family: Roboto, Arial, san-serif;
   color: #D6634C;
   font-size: 18px;
   font-weight: 700;
 }
}

.h-navy {
  color: #03045E;
}

.h-coral {
  color: #D6634C;
}

.h-teal {
  color: #5CA4A9;
}

.h-bluegrey {
  color: #608BAA;
}

p {
  font-family: roboto, jost, arial, sans-serif;
  font-size: 16px;
  color: #333333;
}

/* Header links */
.header-link-active {
  color: #03045E;
  border-bottom: 5px solid #03045E;
  margin-left: 15px;
  font-weight: 400;
}

.header-link {
  color: #909090;
  font-weight: 300;
  margin-left: 15px;	
}

.header-link:hover {
  color: #333333;  
}

.header-nav {
  text-align: right;
  margin-top: -53px;
}
@media only screen and (max-width: 992px) {
  .header-nav {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .header-nav {
    margin-top: 25px;
    margin-bottom: 0px;
    text-align: center;
  }
}

/* Lines */

.case-study-line {
  border-top: 1px solid #909090;
  margin-bottom: 45px;
}

/* Misc */
.storyboard-thumb {
  display: block;
  margin-left: auto; 
  margin-right: auto;
  max-width: 225px;
}

.mobile-thumb {
  max-width: 208px;
  max-height: 409px;
  display: block;
  margin-left: auto;
  margin-right: auto;
	
}

.logo {
  float: left;
  margin-right: 20px;
  margin-top: 3px;
}

@media only screen and (max-width: 500px) {
  .logo {
   margin-right: 10px;
   width: 100px;
  }
}