/* Container and body */

.container, 
.container-lg, 
.container-md, 
.container-sm, 
.container-xl {
    max-width: 1320px !important;
 }

body {
  height: 100vh;
  width: 100%;
}

.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}


/* Headings */

h1 {
  font-family: Jost, Roboto, Arial, sans-serif !important; 
  font-weight: 500 !important;
  font-size: 45px !important;
  color: #03045E !important;
}

h2 {
  font-family: Jost, Roboto, Arial, sans-serif !important; ;
  font-weight: 500;
  font-size: 30px;
  color: #03045E;
}

h3 {
  font-family: Jost, Roboto, Arial, sans-serif !important; ; 
  font-weight: 400;
  font-size: 23px;
  color: #608BAA;
}

h4 {
  font-family: Roboto, Arial, san-serif;
  color: #D6634C;
  font-size: 20px;
  font-weight: 700;
}

.h3-subtitle {
  margin-top: -18px;
}

.h-navy {
  color: #03045E;
}

.h-coral {
  color: #D6634C;
}

.h-teal {
  color: #5CA4A9;
}

.h-bluegrey {
  color: #608BAA;
}

p {
  font-family: roboto, jost, arial, sans-serif;
  font-size: 16px;
  color: #333333;
}

/* Header links */
.header-link-active {
  color: #03045E;
  border-bottom: 5px solid #03045E;
}

.header-link {
  color: #909090;
  font-weight: 300;
  margin-left: 15px;	
}

.header-nav {
  margin-top: -35px;
  text-align: right;
}

/* Lines */

.case-study-line {
  border-top: 1px solid #909090;
  margin-bottom: 45px;
}

/* Misc */
.storyboard-thumb {
  display: block;
  margin-left: auto; 
  margin-right: auto;
  max-width: 300px;
}

.mobile-thumb {
  max-width: 208px;
  max-height: 409px;
  display: block;
  margin-left: auto;
  margin-right: auto;
	
}